# Byte-compiled / compiled Python files
###############################
__pycache__/
*.py[cod]

# Virtual environment
######################
venv/
.venv/

# Docker related files
#######################
*.log
*.pid
*.out
*.bak

# Environment variables file
##############################
.env

# IDE and editor files
#######################
.vscode/
.idea/
.devcontainer/

# Test output and coverage
###########################
coverage/
*.coverage
.pytest_cache/

# Other Files
##############################
old/
mbz-files/