# Byte-compiled / compiled Python files
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/

# Docker related
*.log
*.pid
*.out
*.bak

# Environment variables file
.env

# IDE files
.vscode/
.idea/

# Test output
coverage/
*.coverage
